.PrrrsTable
  width: 100%
  th
    text-align: left

  tbody > tr
    &:nth-child(even)
      background-color: rgba(0,0,0,0)
    &:nth-child(odd)
      background-color: rgba(173, 216, 230, 0.2)
    &:hover
      background-color: rgba(102, 255, 153, 0.2)
    > td
      line-height: 38px
