.Navbar
  padding: 10px
  display: flex
  font-family: 'Ek Mukta', sans-serif;
  flex-direction: row
  justify-content: space-between
  align-items: center
  white-space: nowrap
  background-color: black
  color: white
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  > div
    display: flex
    flex-direction: row
    align-items: center
    > *
      margin: 10px 2px

  .Avatar
    height: 40px
    width: 40px
    margin: 5px
    border-radius: 50%

  &-favicon
    -webkit-filter: invert(1)
    filter: invert(1)
    position: relative
    top: 2px
